asgiref==3.10.0
dj-database-url==2.3.0
Django==5.2.7
django-browser-reload==1.21.0
django-tailwind==4.2.0
gunicorn==23.0.0
packaging==25.0
psycopg2-binary==2.9.11
sqlparse==0.5.3
typing_extensions==4.15.0
whitenoise==6.11.0
